/* Define application theme */

/* :root {
  --dwc-color-primary-h: 277;
  --dwc-color-primary-s: 50%;
} */

dwc-app-layout {
  --dwc-app-layout-header-height: 60px;
  --dwc-app-layout-drawer-width: 20em;
}
.chapter-fold-btn{
  border: 0px none transparent;
  outline: 0px none transparent;
}
.chapter-fold-btn::part(control) {
  color: gray;
  background-color: var(--dwc-surface-3);
  box-sizing: unset;
  border: 0px none transparent;
  outline: 0px none transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Notes { grid-area: Notes; }
.Transcript { grid-area: Transcript; }

@supports (width: -webkit-fill-available) {
  .fill-available{
    width: -webkit-fill-available;
  }
}
@supports (width: -moz-available) {
  .fill-available{
    width: -moz-available;
  }
}